/* ------------------------------------- Utility Classes ------------------------------------- */
html {
  scroll-behavior: smooth;
}
:root {
  --primary-color: linear-gradient(-45deg, #2e6cd8 0%, #04befe 100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  background: #2e6cd8;
}
.btn-background{
  background-image: linear-gradient(-45deg, #2e6cd8 0%, #04befe 100%);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 5px;
}
/****** Font Family ******/
@font-face {
  font-family: Avenir-bold;
  src: url(../../../fonts/AvenirNextLTPro-Bold.otf);
  font-display: swap;
}
@font-face {
  font-family: Avenir-demi;
  src: url(../../../fonts/AvenirNextLTPro-Demi.otf);
  font-display: swap;
}
@font-face {
  font-family: Avenir-medium;
  src: url(../../../fonts/AvenirNextLTPro-Medium.otf);
  font-display: swap;
}
@font-face {
  font-family: Avenir-regular;
  src: url(../../../fonts/AvenirNextLTPro-Regular.otf);
  font-display: swap;
}
body {
    font-family: Avenir-regular;
  }
  
@media only screen and (min-width: 993px) {
  .container {
    width: 85%;
  }
}
.font-bold {
  margin: 0;
  font-family: Avenir-bold !important;
}
.font-demi {
  margin: 0;
  font-family: Avenir-demi;
}
.font-medium {
  margin: 0;
  font-family: Avenir-medium;
}
.font-regular {
  margin: 0;
  font-family: Avenir-regular;
}

.card {
  border: none !important;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15) !important;
}
li {
  list-style: none;
}
.padding-top-section {
  padding-top: 3em !important;
}
.text-blue {
  color: #2e6cd8 !important;
}
.grey-colored-text-18 {
  color: #82848a;
  font-size: 16px;
  letter-spacing: 0.2px;
}
.line-height-heading {
  line-height: 1.3em !important;
  font-size: 3em;
}
button {
  padding: 7px 35px !important;
}
.btn-initial-styling {
  background-image: linear-gradient(-45deg, #2e6cd8 0%, #04befe 100%);
}
.btn-outline-styling {
  display: inline-block;
  border-image-source: linear-gradient(
    -45deg,
    #2e6cd8 0%,
    #04befe 100%
  ) !important;
  border-image-slice: 10 !important;
  border-style: solid !important;
  border-image-width: 2px !important;
  color: #2e6cd8 !important;
}
.bg-blue {
  background: #b8e6f5 !important;
}
.gradient-icons::before,
.gradient-text {
  background-image: linear-gradient(-45deg, #2e6cd8 0%, #04befe 100%);
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
.element-to-hide {
  visibility: hidden;
}
.display-4 {
  font-size: 2.5em !important;
}
.fadeup {
  animation: fadeinUp 0.6s ease-in-out;
  animation-duration: 0.6s;
  visibility: visible !important;
}
@keyframes fadeinUp {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.icons-styling {
  background-image: linear-gradient(-45deg, #b8e6f5 0%, #04befe 100%);
  animation-name: animationicon;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes animationicon {
  0%,
  100% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  }
  25% {
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
  }
  75% {
    border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
  }
}


/* ------------------------------------- Modal ------------------------------------ */
.close{
  font-size: 2rem !important;
  margin-top: -11px !important;
}
.close:focus{
  outline: none;
}

/* ------------------------------------- Navbar ------------------------------------ */
#header {
  background-image: linear-gradient(-45deg, #b3cfff 0%, #04befe 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}
.navbar {
  padding: 1rem 1rem !important;
  z-index: 4;
  position: fixed;
}
.nav-white {
  background: #07114d !important;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15) !important;
}
.btn-hover-dark:hover {
  color: white !important;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: transparent;
  outline: none;
}
.navbar-toggler-icon:focus {
  outline: none !important;
}
.navbar-toggler {
  padding: 0px !important;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: none !important;
}
.navbar-toggler:focus, .navbar-toggler:active {
  outline: none !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff !important;
}
.navbar-dark .navbar-nav .nav-link:hover {
  border-bottom:2px solid #fff !important;
}
.active{
  border-bottom:2px solid #fff !important;
}
@media(max-width: 1300px){
  .nav-link{
    font-size: 14px;
  }
}


/* ------------------------------------- Dropdown ------------------------------------- */
.dropdown {
  position: static !important;
}

.dropdown-menu {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
  background-color: #07114d !important;;
  margin-top: 0px !important;
  width: 100% !important;
  color: white !important;
}

.dropdown-search {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
  background-color: #07114d !important;;
  margin-top: 0px !important;
  width: 100% !important;
  color: white !important;
}

.dropdown-item{
  font-size: 15px !important;
  text-align: left;
}

.dropdown-menu-search {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
  background-color: #07114d !important;;
  margin-top: 0px !important;
  color: white !important;
}

.dropdown-item:hover{      
  color: white  !important;
  background: transparent !important;
}

/* ------------------------------------- search
 ------------------------------------- */

.search-overlay {
  position: fixed;
  top: 0px;
  right: -10px;
  width: 30vw;
  height: 100%;
  z-index: -1;
  background-color: #07114d;
  animation: all 1s ease;
  visibility: hidden;
}

.search-content{
  position: fixed;
  padding: 10px 20px;
  margin-top: 80px;
  top: 0px;
  right: -10px;
  width: 30vw;
  z-index: 5;
  height: 100%;
  overflow: scroll;
  color: white;
  animation: all 1s ease;
  transform: translateX(100%);
}

.content-slide-in {
  transform: translateX(0);
} 

.search-visible {
  visibility: visible;
}

@media screen and (max-width: 1200px) {
  .search-content{
      width: 95vw;
      right: 0px;
      margin-top: 10px;
  }
  .search-overlay{
      width: 100vw;
      z-index: 5;
      right: 0px;
  }
}

/* ------------------------------------- Header ------------------------------------- */

#header h1 {
  font-size: 3em;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: 0.3px;
}
h1 {
  font-size: 3em;
}
.margin-top-heading {
  margin-top: 60px;
}
.header-paragraph-text {
  margin-top: 40px;
  font-size: 18px;
  letter-spacing: 0.1px;
  margin-bottom: 35px;
}
.header-image {
  margin-top: 50px;
}
.repeat {
  animation-name: animationheader;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.font-24{
  font-size: 24px;
}
.font-20{
  font-size: 20px;
}
.font-18{
  font-size: 18px;
}
@keyframes animationheader {
  0%,
  100% {
    transform: translateY(-40px);
  }

  50% {
    transform: translateY(-10px);
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 35px;
    letter-spacing: 0px;
  }
  .header-paragraph-text {
    font-size: 15px;
    letter-spacing: 0.1px;
    margin-bottom: 35px;
  }
}

/* ------------------------------------- Counter ------------------------------------- */
.counter {
  font-weight: 700;
}

/* search */
#searchBar {
  /* display: flex;
    justify-content: center;
    align-items: center; */
  outline: none;
  border: 1px solid white;
  padding: 10px 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Top Categories */
#category {
  /* background-image:linear-gradient(-45deg, #2e6cd8 0%, #04befe 100%); */
  padding: 100px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

/* become Tutor */
#becomeTutor {
  /* background-image:linear-gradient(-45deg, #2e6cd8 0%, #04befe 100%); */
  padding: 100px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

/* ------------------------------------- Feature ------------------------------------- */
#feature {
  background-image: linear-gradient(-45deg, #b3cfff 0%, #04befe 100%);
  padding: 100px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.btn-background {
  background-image: linear-gradient(-45deg, #2e6cd8 0%, #04befe 100%);
  padding: 7px 40px !important;
}
button {
  transition: 0.4s !important;
}
button:hover,
.card3:hover .btn {
  transition-timing-function: ease-in-out !important;
  /* background-image:linear-gradient(-45deg, #2e6cd8 0%, #04befe 100%) !important;  */
  color: white !important;
  font-weight: bold !important;
}
.card1 {
  transition: 0.4s ease;
  margin-bottom: 30px;
}
.card1:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(34, 34, 34, 0.5);
}

/* ------------------------------------- Time ------------------------------------- */
#time {
  background-image: linear-gradient(-45deg, #2e6cd8 0%, #04befe 100%);
  padding: 50px 0px;
}

/* ------------------------------------- Overview ------------------------------------- */
#overview {
  padding: 60px 0px;
}

/* ------------------------------------- Carousel ------------------------------------- */
#carousel {
  background-image: linear-gradient(-45deg, #2e6cd8 0%, #04befe 100%);
  padding: 150px 0px;
}

/* ------------------------------------- Pricing ------------------------------------- */
#pricing {
  padding: 150px 0px;
}

/* ------------------------------------- Testimonial ------------------------------------- */
#testimonial {
  padding: 100px 0px;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px !important;
  height: 10px !important;
  cursor: pointer;
  margin: 10px;
  text-indent: 0;
  border-radius: 50%;
  background-color: rgb(255, 168, 248) !important;
}
.carousel-indicators .active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: purple !important;
}
.blog-carousel-background {
  background: #b8e6f5;
  border-radius: 100px 100px 0px 100px;
  padding: 30px 40px !important;
}
.blog-image {
  border-radius: 30px;
  height: 110px !important;
}

/* ------------------------------------- Faqs ------------------------------------- */
#faqs {
  padding: 100px 15em;
  background-image: linear-gradient(-45deg, #2e6cd8 0%, #04befe 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* ------------------------------------- Contact ------------------------------------- */
#contact {
  padding: 100px 0px;
}

/* ------------------------------------- Footer ------------------------------------- */
#footer {
  padding: 100px 0px 40px 0px;
  background: #07114d;
}
.subscribe-box {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.subscribe-button {
  background: #a75cf8 !important;
}
.copyright-text {
  font-size: 14px;
  letter-spacing: 0.6px !important;
}

@media (max-width: 768px) {
  .mobile-heading {
    font-size: 35px !important;
  }
  #time {
    padding: 10px 0px !important;
  }
  .margin-buttons {
    margin-top: 15px !important;
    /* margin: auto !important; */
  }
  #parallax {
    padding: 100px 0px !important;
  }
  #faqs {
    padding: 50px 0px 50px 0px !important;
  }
  .margin-top-mobile {
    padding-top: 15px;
  }
  .hide {
    display: none;
  }
  .one,
  .three {
    height: 300px !important;
    width: 103px;
  }
  .two {
    height: 300px !important;
  }
  .margin-top-heading {
    margin-top: 0px;
  }
}

/* input css */
.input-field {
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  /* grid-template-columns: 15% 85%; */
  padding: 0 1.5rem;
  position: relative;
}

.input-field select,
.input-field input {
  background: none;
  outline: none;
  border: none;
  border-radius: 55px;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.form-check-label {
  color: #444;
}

::placeholder {
  color: #aaa;
  font-weight: 500;
  font-family: Avenir-medium;
}
