* {
    margin: 0;
    padding: 0;
  }
  
  .wrapper-1 {
    font-family: Avenir-regular;
    background-image: url(../images/bg-what-right.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
  }

  .wrapper-2 {
    font-family: Avenir-regular;
    background-image: url(../images/bg-location-right.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
  }

  .wrapper-3 {
    font-family: Avenir-regular;
    background-image: url(../images/bg-how-right.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
  }

  .wrapper-4 {
    font-family: Avenir-regular;
    background-image: url(../images/bg-budget-right.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  }
  ::-webkit-scrollbar-thumb {
    background: #2e6cd8;
  }
  
  /****** Font Family ******/
  @font-face {
    font-family: Avenir-bold;
    src: url(../../../fonts/AvenirNextLTPro-Bold.otf);
    font-display: swap;
  }
  @font-face {
    font-family: Avenir-demi;
    src: url(../../../fonts/AvenirNextLTPro-Demi.otf);
    font-display: swap;
  }
  @font-face {
    font-family: Avenir-medium;
    src: url(../../../fonts/AvenirNextLTPro-Medium.otf);
    font-display: swap;
  }
  @font-face {
    font-family: Avenir-regular;
    src: url(../../../fonts/AvenirNextLTPro-Regular.otf);
    font-display: swap;
  }
  
  /****** Utility Classes ******/
  .card {
    border: none !important;
    border-radius: 3px !important;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
  }
  .title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
  }
  @media(max-width: 576px){
    .title{
      font-size: 1.8rem;
    }
  }
  .center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
  }
  .input-field {  
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
  }
  .input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
  }
  
  .input-field input {
    background: none;
    outline: none;
    border: none;
    border-radius: 55px;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
  }
  
  .input-field select {
    background: none;
    outline: none;
    border: none;
    border-radius: 55px;
    line-height: 1;
    font-weight: 500;
    font-size: 1.1rem;
    color: #333;
  }

  .input-field textarea {
    background: none;
    outline: none;
    border: none;
    border-radius: 55px;
    color: #333;
    background-color: #f0f0f0;
    padding: 10px 0px;
    font-size: 1.1rem;
    color: #333;
    height: 50px !important;
  }
  ::placeholder {
    color: #aaa;
    background: transparent !important;
    font-weight: 400;
  }
  
  .btn {
    width: 150px;
    background-color: #5995fd;
    border: none;
    outline: none;
    font-size: 14px !important;
    padding-top: 15px;
    padding-bottom: 20px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .btn:hover {
    background-color: #4d84e2;
    color: #fff;
  }
  /****** Font Utility Classes ******/
  .font-bold {
    margin: 0;
    font-family: Avenir-bold !important;
  }
  .font-demi {
    margin: 0;
    font-family: Avenir-demi;
  }
  .font-medium {
    margin: 0;
    font-family: Avenir-medium;
  }
  .font-regular {
    margin: 0;
    font-family: Avenir-regular;
  }
  
  .btn {
    width: 150px;
    background-color: #5995fd;
    border: none;
    outline: none;
    font-size: 18px;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    margin: 10px 20px;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .btn:hover {
    background-color: #4d84e2;
  }
  
  @media screen and (max-width: 768px){
    body {    
      background: #f1f6f8 !important;
    }
  }
  
  
  /* ------------------------------------- Footer ------------------------------------- */
  #footer{
    padding: 100px 0px 40px 0px;
    background: #07114d;
  }
  .subscribe-box{
    background: rgba(0,0,0,0.15);
    border-radius: 5px;
  }
  .subscribe-button{
    background: #a75cf8 !important;
  }
  .copyright-text{
    font-size: 14px;
    letter-spacing: 0.6px !important;
  }
  li{
    list-style: none;
  }
  
  /* ------------------------------------- Navbar ------------------------------------ */
  #header {
    background-image: linear-gradient(-45deg, #b3cfff 0%, #04befe 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
  }
  .nav-padding {
    padding: 0px;
  }
  .nav-white {
    background: #07114d !important;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15) !important;
  }
  .btn-hover-dark:hover {
    color: white !important;
  }
  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: transparent;
    outline: none;
  }
  .navbar-toggler-icon:focus {
    outline: none !important;
  }
  .navbar-toggler {
    padding: 0px !important;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: none !important;
  }
  .navbar-toggler:focus, .navbar-toggler:active {
    outline: none !important;
  }
  .navbar-dark .navbar-nav .nav-link {
      color: #fff !important;
  }
  .navbar-dark .navbar-nav .nav-link:hover {
    border-bottom:2px solid #fff !important;
  }
  .active{
    border-bottom:2px solid #fff !important;
  }
  @media(max-width: 1300px){
    .nav-link{
      font-size: 14px;
    }
  }
  
  .btn-background {
    background-image: linear-gradient(-45deg, #2e6cd8 0%, #04befe 100%);
    padding: 7px 0px;
    border-radius: 5px;
  }

  @media screen and (max-width: 768px){
    .wrapper-1, .wrapper-2, .wrapper-3, .wrapper-4 {    
      background: #f1f6f8 !important;
    }
  }