
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Avenir-regular;
    background-image: url(./../../images/bg-how-right.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  /****** Font Family ******/
  @font-face {
    font-family: Avenir-bold;
    src: url(../../../fonts/AvenirNextLTPro-Bold.otf);
    font-display: swap;
  }
  @font-face {
    font-family: Avenir-demi;
    src: url(../../../fonts/AvenirNextLTPro-Demi.otf);
    font-display: swap;
  }
  @font-face {
    font-family: Avenir-medium;
    src: url(../../../fonts/AvenirNextLTPro-Medium.otf);
    font-display: swap;
  }
  @font-face {
    font-family: Avenir-regular;
    src: url(../../../fonts/AvenirNextLTPro-Regular.otf);
    font-display: swap;
  }
  
  /****** Utility Classes ******/
  .card {
    border: none !important;
    border-radius: 3px !important;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
  }
  .title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
  }
  .center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  .input-field {  
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
  }
  
  .input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
  }
  
  .input-field select {
    background: none;
    outline: none;
    border: none;
    border-radius: 55px;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
  }

  .input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
  }
  
  /****** Font Utility Classes ******/
  .font-bold {
    margin: 0;
    font-family: Avenir-bold !important;
  }
  .font-demi {
    margin: 0;
    font-family: Avenir-demi;
  }
  .font-medium {
    margin: 0;
    font-family: Avenir-medium;
  }
  .font-regular {
    margin: 0;
    font-family: Avenir-regular;
  }
  
  .btn {
    width: 150px;
    background-color: #5995fd;
    border: none;
    outline: none;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 20px;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    margin: 10px 20px;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .btn:hover {
    background-color: #4d84e2;
    color: #fff;
  }

  @media screen and (max-width: 768px){
    body {   
      background-image: linear-gradient(-45deg, #2e6cd8 0%, #04befe 100%);
    }
    .wrapper{
      background-image: linear-gradient(-45deg, #2e6cd8 0%, #04befe 100%) !important;
    }
  }